Package: com.sassoty.lucypass
Name: lucypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: lu.cy addon for password stuff
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
